# Assignment 2 - Pandas

In [2]:
import pandas as pd

## Solve the below problems:

## Use the next dictionary and make it in a dataframe

In [5]:
data = {'year': [2010, 2011, 2012, 2010, 2011, 2012, 2010, 2011, 2012],
        'team': ['FCBarcelona', 'FCBarcelona', 'FCBarcelona', 'RMadrid', 'RMadrid', 'RMadrid', 'ValenciaCF',
                 'ValenciaCF', 'ValenciaCF'],
        'wins':   [30, 28, 32, 29, 32, 26, 21, 17, 19],
        'draws':  [6, 7, 4, 5, 4, 7, 8, 10, 8],
        'losses': [2, 3, 2, 4, 2, 5, 9, 11, 11]}

In [6]:
df = pd.DataFrame(data, columns = ['year', 'team', 'wins', 'draws', 'losses'])
df

   year         team  wins  draws  losses
0  2010  FCBarcelona    30      6       2
1  2011  FCBarcelona    28      7       3
2  2012  FCBarcelona    32      4       2
3  2010      RMadrid    29      5       4
4  2011      RMadrid    32      4       2
5  2012      RMadrid    26      7       5
6  2010   ValenciaCF    21      8       9
7  2011   ValenciaCF    17     10      11
8  2012   ValenciaCF    19      8      11

## Retrieve the number of the columns and the number of rows (seperate the cells)

In [7]:
# number of columns
df.columns

Index(['year', 'team', 'wins', 'draws', 'losses'], dtype='object')

In [8]:
# number of rows
df.index

RangeIndex(start=0, stop=9, step=1)

## Print the data types of the dataframe's columns

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    9 non-null      int64
 1   team    9 non-null      object
 2   wins    9 non-null      int64
 3   draws   9 non-null      int64
 4   losses  9 non-null      int64
dtypes: int64(4), object(1)
memory usage: 492.0+ bytes

## Delete the 'draws' column

In [12]:
df = df.drop(columns = ['draws'])

KeyError: "['draws'] not found in axis"

In [13]:
df

   year         team  wins  losses
0  2010  FCBarcelona    30       2
1  2011  FCBarcelona    28       3
2  2012  FCBarcelona    32       2
3  2010      RMadrid    29       4
4  2011      RMadrid    32       2
5  2012      RMadrid    26       5
6  2010   ValenciaCF    21       9
7  2011   ValenciaCF    17      11
8  2012   ValenciaCF    19      11

## Retrieve the first 3 rows

In [14]:
df.head(3)

   year         team  wins  losses
0  2010  FCBarcelona    30       2
1  2011  FCBarcelona    28       3
2  2012  FCBarcelona    32       2

## check if there is any null values

In [15]:
df.isnull().sum()

year      0
team      0
wins      0
losses    0
dtype: int64